body {
    font-family:  Arial, sans-serif;
    text-align: center;
    background: url('space-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #00ffcc;
}

h1 {
    margin-top: 20px;
    text-shadow: 0 0 20px #00ffff;
    color: #ffffff;
    text-shadow: 0 0 10px #00ffff, 2px 2px 5px #000
}
#instructions {
    font-family: Arial, sans-serif; /* Or whatever you want */
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 5px #00ffff, 1px 1px 3px #000;
}


#word {
    font-size: 3em;
    margin: 20px;
    letter-spacing: 25px; 
    text-shadow: 0 0 20px #00ffff;
    color: #ffffff;
    text-shadow: 0 0 10px #00ffff, 2px 2px 5px #000
}

#guessed-letters {
    color: #ff3333;
    font-weight: bold;
    margin: 20px;
}

#message {
    margin: 20px;
    font-weight: bold;
    color: #ffff00;
    font-size: 1.5em;
    text-shadow: 0 0 10px #ff0;
}

#astronaut {
    width: 150px;
    margin: 20px auto;
    display: block;
}

#hint {
    font-size: 1.2em;
    color: #ffffff;
    text-shadow: 0 0 5px #00ffff, 1px 1px 3px #000;
    margin-bottom: 20px;
}
